.home {
  margin-top: 200px;
  width: 100px;
  height: 100px;
  background-color: red;
}

.title {
  font-size: 35px;
  font-weight: bold;
  margin: 20px 0;
}

.info {
  font-size: 36px;
  margin: 8px 0;
  color: #555;
}
