.login-page {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.taobaoSsoBtn,.pwdBtn {
  width: 550px;
  height: 86px;
  margin-top: 75px;
  border-radius: 43px;
  background-color: #09ba07;
  font-size: 30px;
  color: #ffffff;
}