node_modules
.DS_Store
lerna-debug.log
npm-debug.log
mochawesome-report
.happypack
package-lock.json
yarn.lock
yarn-error.log
tempDir
coverage/

.eslintcache
databases
build
.vscode/
.tmp/

npmrc

*~
*.swp
.DS_Store
npm-debug.log
lerna-debug.log
npm-debug.log*
lib/
es/
dist/
.idea/
