.home {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-content: flex-start;
  align-items: center;
  margin-top: 200rpx;
  width: 100%;
}

.title {
  font-size: 35rpx;
  font-weight: bold;
  margin: 20rpx 0;
  display: block;
}

.info {
  font-size: 36rpx;
  margin: 8rpx 0;
  color: #555;
  display: block;
}
