.home {
  align-items: center;
  background-color: blueviolet;
}

.title {
  font-size: 35rpx;
  font-weight: bold;
  margin: 20rpx 0;
  white-space: nowrap;
  color: white;
}

.info {
  font-size: 36rpx;
  margin: 8rpx 0;
  color: #555;
}
